<app-toolbar></app-toolbar>
<div *ngIf="article">
    <div class="header" >
        <h1>{{article.Title | uppercase}}</h1>
        <h3>{{article.Author | uppercase}}</h3>
        <div class="time">
            <span>{{time}}</span>
        </div>
        
    </div>
    <div class="content">
        <p>{{article.Content}}</p>
    </div>

    
    <!-- <textarea #textbox  (change)="article.content=textbox.value">{{article.content}}</textarea> -->
    <div class="footer">
        
        <button mat-raised-button color="primary" (click)="goBack()">
            <mat-icon>reply</mat-icon>
        </button>
        <button *ngIf="status.ID===article.User_ID || status.UserStatus===2" (click)="delete()" mat-raised-button color="warn">
            <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="status.ID===article.User_ID || status.UserStatus===2" routerLink="/detail/{{article.ID}}/edit" mat-raised-button color="primary">
            <mat-icon>edit</mat-icon>
        </button>
        <!-- <button (click)="goBack()">back</button>
        <button  *ngIf="userName===article.author" (click)="delete()">delete</button>
        <button  *ngIf="userName===article.author" routerLink="/detail/{{article.id}}/edit">edit</button> -->
        <!-- *ngIf="userName===article.author" -->
    </div>
    
</div>


