<div *ngIf="article">
    <div class="header">
        <h1>{{article.Title | uppercase}}</h1>
        <h3>{{article.Author | uppercase}}</h3>
        <div class="time">
            <span>{{time}}</span>
        </div>
    </div>
    <div class="content">
        <p>{{article.Content}}</p>
    </div>
    <div class="footer">
        <button mat-raised-button matTooltip="back" color="primary" (click)="goBack()">
            <mat-icon>reply</mat-icon>
        </button>
        <button *ngIf="status.ID===article.User_ID || status.UserStatus===2" (click)="delete()" mat-raised-button
        matTooltip="delete" color="warn">
            <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="status.ID===article.User_ID || status.UserStatus===2" routerLink="/detail/{{article.ID}}/edit"
            mat-raised-button matTooltip="edit" color="primary">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
</div>