<app-toolbar></app-toolbar>
<form [formGroup]="form">
    <div class="header" >
        <h1>[ CREATE MODE ]</h1>
    </div>
    <div class="detail">
        <textarea formControlName="Title" class="title" type="text" placeholder="Article Title" [class.invalid]="form.get('Title')?.touched&&form.get('Title')?.invalid"></textarea>
        <input formControlName="Author" class="author" type="text">
    </div>
    <div class="content">
        <textarea formControlName="Content" class="textbox" placeholder="Content..." [class.invalid]="form.get('Content')?.touched&&form.get('Content')?.invalid"></textarea>
    </div>
    
    
    <div class="footer">
        <button (click)="goBack()">back</button>
        <button [disabled]="form.invalid" (click)="add()">add</button>

    </div>
    
</form>

