<mat-toolbar color="primary">
    <a routerLink="/articles"><span>Article List</span></a>
    <span class="example-spacer"></span>
    <button *ngIf="!status.UserStatus else LOGIN" mat-raised-button matTooltip="login" color="primary" routerLink="/login">
        <span>LOGIN</span>
        <mat-icon>account_circle</mat-icon>
    </button>
    <ng-template #LOGIN>
        <button mat-raised-button matTooltip="add" color="primary" routerLink="/articles/add" [disabled]="!status.UserStatus">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button matTooltip="logout" color="primary" (click)="logout()">
            <span>Hi, {{status.UserName}}</span>
            <mat-icon>account_circle</mat-icon>
        </button>
    </ng-template>
</mat-toolbar>