mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-left: 50px;
  padding-right: 50px;
}
.home {
    display: inline;
    text-align: right;
}
.example-spacer {
    flex: 1 1 auto;
  }
button{
    margin-left: 10px;
}
span{
    margin-right: 15px;
}
a {
    text-decoration: none;
    color: white;
    
}
::ng-deep .mat-menu-panel {
    margin-left: -2px;
    margin-top: 10px;
}
::ng-deep .mat-menu-content{
    padding: 0px !important;
}
.item {
    margin-left: 0px;
}
.mat-menu-item .mat-icon {
    margin-right: 0px
}