<div class="container">
  <div class="loginbox">
    <h1>LOGIN</h1>
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>UserName</mat-label>
        <input matInput formControlName="UserName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="Password" type="password"> 
      </mat-form-field>
      <br>
      <button mat-raised-button matTooltip="sign in" color="basic" routerLink="/signin">
        <mat-icon>person_add</mat-icon>
      </button>
      <button [disabled]="form.invalid" (click)="login()" mat-raised-button matTooltip="login" color="primary">
        <mat-icon>login</mat-icon>
      </button>
    </form>
  </div>
</div>