<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title><a>LOGIN</a></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field appearance="fill">
          <mat-label>UserName</mat-label>
          <input matInput formControlName="UserName">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="Password" type="password"> 
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button matTooltip="註冊" color="basic" routerLink="/signin">
        <mat-icon>person_add</mat-icon>
      </button>
      <button [disabled]="form.invalid" (click)="login()" mat-raised-button matTooltip="登入" color="primary">
        <mat-icon>login</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

