.container {
  width: 400px;
  height: 800px;
  margin: 0 auto;
}
a {
  font-weight: bolder;
  font-size: 28px;
}
mat-card {
  background: #f3f3f3;
  margin-top: 100px;
  padding: 50px;
  text-align: center;
}
mat-card-header {
  display: block;
  margin-bottom: 20px;
}
mat-card-title {
  font-weight: bolder;
}
mat-card-content {
  margin-bottom: 0px;
}
mat-form-field {
  width: 250px;
  margin-bottom: 5px;
}