.container-fluid {
  min-height: calc(100% - 128px);
  max-width: 800px;
  min-width: 500px;
  margin-top: 15px;
}
ul {
  list-style-type: none;
  padding: 0px;
}
li {
  text-align: left;
}
a {
  text-decoration: none;
  color: black;
}
a:active {
  color: #3f51b5;
}
h2 {
  font-weight: bolder;
  margin: 0px;
  display: inline-block;
  align-self: center;
}
.box {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pagination {
  justify-content: flex-end;
  padding: 1px;
}
app-article-search {
  display: inline-block;
  z-index: 1000;
}
::ng-deep .ngx-pagination {
  padding-left: 0px !important;
}
mat-card {
  background-color: #f0f0f052;
  margin: 10px 0;
  border-radius: 10px;
}
mat-card:hover {
  background-color: #e9e9e98e;
}
mat-card:active {
  background: #3f51b526;
  color: #3f51b5;
}
mat-card-title-group {
  display: block;
}
mat-card-title {
  padding-top: 8px;
  font-size: 20px;
  margin-bottom: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
mat-card-subtitle {
  text-align: right;
  margin-bottom: 5px;
}
mat-card-actions {
  text-align: right;
}
.mat-raised-button {
  min-width: 0px !important;
  height: 28px;
  padding: 0 10px;
  line-height: 0px;
}
