div {
  text-align: right;
}
li {
  list-style-type: none;
  background-color: white;
}
a {
  text-decoration: none;
}

ul.search-result {
  text-align: center;
  position: relative;
  top: -22px;
  margin: 0;
  padding: 0;
}
mat-card {
  background-color: #d8d8d886;
  padding: 16px 8px;
  border-radius: 0px;
}
mat-card:hover {
    background-color: #c9c9c98e;
    
}
mat-card:active {
    background: #3f51b526;
    color: #3f51b5;
}
mat-card-subtitle {
  text-align: left;
}
button {
  top:-7px;
}