.container-fluid {
  min-height: calc(100% - 128px);
  width: 800px;
  min-width: 500px;
  margin-top: 15px;
}
ul {
  list-style-type: none;
  padding: 0px;
}
li {
  text-align: left;
  cursor: pointer;
}
a {
  text-decoration: none;
}
h2 {
  font-weight: bolder;
  margin: 0px;
  display: inline-block;
  align-self: center;
}
.box {
  height: 65px;
  width: 100%;
  display: flex;
}
.example-spacer {
  flex: 1 1 auto;
}
.pagination {
  justify-content: flex-end;
  padding: 1px;
}
app-article-search {
  display: inline-block;
}
::ng-deep .ngx-pagination {
  padding-left: 0px !important;
}
mat-card {
  height: 80px;
  background-color: #f0f0f052;
  margin: 10px 0;
  border-radius: 10px;
}
mat-card:hover {
  background-color: #e9e9e98e;
}
mat-card:active {
  background: #3f51b526;
  color: #3f51b5;
}
mat-card-title {
  padding-top: 8px;
  font-size: 20px;
  margin-bottom: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
mat-card-subtitle {
  text-align: right;
}
mat-expansion-panel-header {
  cursor: default;
}
mat-panel-title {
  color: black !important;
  font-weight: bolder;
  align-items: center;
}
mat-expansion-panel {
  margin: 20px;
}
mat-panel-description {
  display: flex;
  justify-content: space-between;
}
.more {
  top: 15px;
}
mat-form-field {
  width: 32%;
}

