
h1 {
    text-align: center;
    margin: 0;
    padding: 40px 0 20px 0;
    font-size: 50px;
}
.container {
    width: 800px;
    margin: 0 auto;

}
ul {
    list-style-type: none;
    padding: 0px;
    width: 99%;
    margin: 0 auto;
}
li {
    text-align: left;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

li:hover {
    left: .1em;
}
a {

    background-color: #E6CAFF;
    text-decoration:none;
    display: block;
    margin: 10px 0;
    padding: 30px 25px 25px 25px;
    border-radius: 4px;    
}
a:hover {
    background-color: 	#F1E1FF;
}
a:active {
    background-color: #525252;
    color: #fafafa;
}
.name {
    position:absolute;
    right: 25px;
    display: inline-block;
    
}
.title {
    margin: 0px;
    display : inline-block;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    width : 75%;
}
h2 {
    display: inline-block;
    position: absolute;
    left: 0px;
}

button {
    position: absolute;
    left: 720px;
    background-color: #E0E0E0;
    margin: 20px;
    border-radius: 4px;
    border-style: hidden;
    width: 60px;
    height:25px;
}
button:hover {
    background-color: #D0D0D0;
}
button:active {
    background-color: #525252;
    color: #fafafa;
}
.box {
    position: absolute;
    display:  block;
    width: 800px;
}
.pagination {
    text-align: center;
    margin-right: 80px;
}
mat-tab-group{
    width: 800px;
}
app-article-search {
    display: inline-block;
    position: relative;
    left: 540px;
    z-index: 1000;
}
.tab-list {
    position: relative;
    top: 80px;
}
.login {
    display: block;
    top: -30px;
}