
h1 {
    text-align: center;
    margin: 0;
    padding: 40px 0 20px 0;
    font-size: 50px;
}
.container {
    width: 64%;
    margin:20px auto;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0 auto;
}
li {
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

li:hover {
    left: .1em;
}
a {
    background-color: 	rgba(172, 221, 236, 0.945);
    text-decoration:none;
    display: block;
    margin: 10px 0;
    padding: 30px 25px 25px 25px;
    border-radius: 4px;    
}
a:hover {
    background-color: 	#b0edff8c;
}
a:active {
    background-color: #525252;
    color: #fafafa;
}
.name {
    position:absolute;
    right: 30px;
    display: inline-block;
    
}
.title {
    margin: 0px;
    display : inline-block;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    width : 85%;
}
h2 {
    display: inline-block;
}
.box {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pagination {
    text-align: center;
    padding: 1px;
}
app-article-search {
    display: inline-block;
    z-index: 1000;
}
::ng-deep .ngx-pagination {
    padding-left: 0px !important;
  }